* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font: 20px/1.168
}

a {
  text-decoration: none;
}

body {
  background-color: #ededed;
}

.header {
  display: flex;
  color: rgb(238, 29, 29);
}
.header__text {
  padding-top: 80px;
}

.footer {
  background-color: red;

}

.buttons__container {
  display: grid;
  grid-template-columns: 109px 109px 109px;
  grid-template-rows: 60px 60px 60px;
}

/*Util Class */
.wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 80vh;
}

.container button {
  height: 45px;
  width: 100px;
}

.vitals__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
}
.header__trauma {
  text-align: center;

}
.header__cardiac {
 text-align: center;
}
.container__box {
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 1rem;
 
  }
  .witness__class {
    margin-left: 2rem;
  }
  .witness__box {
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .not__class {
    margin-left: 2rem;
  }
  .not__box {
    margin-left: .5rem;
    margin-right: .5rem;
    margin-bottom: 2rem;
  }